flask==1.1.2
flask_script==2.0.6
flask_sqlalchemy==2.4.4
flask_migrate==2.5.3
flask_restful==0.3.8
flask_celery==2.4.3
flask_caching
pycrypto
ujson
pymysql
pillow
gunicorn
requests
gevent
pyjwt
surfing
xlrd
openpyxl
elasticsearch == 7.7.1
elasticsearch_dsl == 7.2.0
pypinyin
empyrical
pydantic
beautifulsoup4
SQLAlchemy < 1.4