
SECRET_KEY = '\x19r<'

# mysql设置
DB_URI = ""

# SQLALCHEMY_ECHO = True
SQLALCHEMY_DATABASE_URI = DB_URI
SQLALCHEMY_TRACK_MODIFICATIONS = True
SQLALCHEMY_COMMIT_ON_TEARDOWN = True

# 日志相关设置
LOG_LEVEL = 'INFO'
LOG_PATH = '../log'
LOG_PATH_FILE = 'server.log'
LOG_FILE_MAX_BYTES = 100 * 1024 * 1024
LOG_FILE_BACKUP_COUNT = 10
TEMP_PATH = '../temp'

# surfing
SURFING_CONFIG = '/Users/puyuantech/Desktop/work_my/fof-backend/configs/config_local.json'
